<a href="https://colab.research.google.com/github/stephenliu713/python_data-analysis/blob/main/01_Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 创建并运行一个Python脚本

## 1.1 注释
以 # 开头的行是注释，用来解释代码。计算机并不会运行这些行。

In [ ]:
# 注释行的内容对程序不会产生影响
print("hello world")

hello world

## 1.2 print()
`print()`是python中最基础的函数之一，它的作用是在控制台中“打印”出相应的内容。
`print()`也可以实现格式化输出的功能。例如`print({0:d}.format(z)`，`{}`是占位符，`0`代表format函数中的第一个参数（这里是`z`），`d`表示这个值为整数。

In [ ]:
print("The result of 3 + 2 = {0:d}".format(3+2))
print("The result of 3 + 2.1 = {0:.1f}".format(3+2.1))
print("First:{0}. Second: {2}. Third: {1}".format(1111,2222,3333))

The result of 3 + 2 = 5
The result of 3 + 2.1 = 5.1
First:1111. Second: 3333. Third: 2222

# 2. 数据类型

Python中变量的主要数据类型简介。

注：Python中主要包含4种数值类型：整数、浮点数、长整数和复数。这里只介绍整数和浮点数。

## 2.0 type()
`type()`可以帮助你读取一个变量在Python中的类型。

In [ ]:
x = 1
type(x)

int

## 2.1 整数 int
Python中的整数很好理解，就是生活中常见的不带小数点的数。但是需要注意的是，**在Python中，整数之间的运算得到的并不总是整数**（例如除法）。

In [ ]:
n = 9
print("n = {}".format(n))
print("3 ** 4 = {}".format(3**4))
print("4 / 2 = {}".format(4/2))

n = 9
3 ** 4 = 81
4 / 2 = 2.0

## 2.2 浮点数 float
Python中的浮点数就是指带小数点的数。浮点数之间的运算得到的总是浮点数。

由于计算机的底层原理，浮点数的运算并不总是完全“精确”的（例如8.1/2.7=2.99999999999996），我们可以通过保留适当位数的小数来得到易于理解的结果。

In [ ]:
print("8.1 / 2.7 = {}".format(8.1/2.7))
print("8.3 / 2.7 = {}".format(8.3/2.7))
print("8.1 / 2.7 = {:.2f}".format(8.1/2.7)) #保留两位小数

8.1 / 2.7 = 2.9999999999999996
8.3 / 2.7 = 3.074074074074074
8.1 / 2.7 = 3.00

## 2.3 字符串 str
字符串是指人类可以阅读的文本。字符串可以包含在**单引号、双引号、3 个单引号或 3 个双引号**之间。

值得注意的是，**一长串数字也可以是字符串**。

In [ ]:
print('单引号')
print("双引号")
print('''3个单引号''')
print("""3个双引号""")

单引号
双引号
3个单引号
3个双引号

In [ ]:
a = 9833021031
b = '9833021031'
print("type(a) = {}".format(type(a)))
print("type(b) = {}".format(type(b)))

type(a) = <class 'int'>
type(b) = <class 'str'>

有时候我们会遇到字符串本身包含单引号或双引号，我们可以通过反斜杠`\`或者使用不同的引号来避免识别错误。例如 `I'm Zhang San.`

In [ ]:
print('I\'m Zhang San.')
print("I'm Zhang San.")

I'm Zhang San.
I'm Zhang San.

为了易于阅读，你可以在一串长字符串中加入反斜杠`\`来使得字符串在代码模块中分行显示。这一操作只对代码模块有效，**输出在控制台中的依然是一整串字符串**。

In [ ]:
"这是一串非常非常非常非常非常非常\
非常非常非常非常非常非常非常非常\
非常非常非常非常非常非常非常非常\
非常非常非常非常长的字符串。"

'这是一串非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常非常长的字符串。'

**字符串是python中最常需要处理的变量类型之一。由于它的特殊性，python标准库有许多常用的处理str类型变量的函数。**

### 2.3.1 split()
`split()`可以将一个字符串拆分成一个子字符串列表(list)。

`split()`的默认分隔符为空格（因此它往往对英文分割很有效）。

In [ ]:
str_1 = '这是一个字符串。'
str_1.split()

['这是一个字符串。']

In [2]:
str_2 = 'This is a string.'
str_2.split()

['This', 'is', 'a', 'string.']

In [ ]:
str_3 = 'This is a string.'
str_3.split('i')

['Th', 's ', 's a str', 'ng.']

### 2.3.2 join()
join函数可以将列表中的子字符串组合成一个字符串。

join函数前面可以放置一个参数，例如`','.join(list_1)`，表示用','对list_1中的元素进行区隔。

In [4]:
list_str_2 = str_2.split()
list_str_2

['This', 'is', 'a', 'string.']

In [7]:
','.join(list_str_2)

'This,is,a,string.'

### 2.3.3 replace()

replace函数可以将字符串中的一个或一组字符替换为另一个或另一组字符。

In [21]:
str_4 = '让我们来替换某些字符。'
str_4_replace = str_4.replace("字符","!!!")
print(str_4_replace)

让我们来替换某些!!!。

### 2.3.4 lower(), upper(), capitalize()

`lower()`和`upper()`分别用来将字符串中的字母转换为小写和大写。`capitalize()` 函数对字符串中的第一个字母应用`upper()`，对其余的字母应用`lower()`。

在做数据分析时，**有时不同列的名字大小写规则并不统一。因此在分析前将列名先统一转换为全部大写或全部小写会降低之后步骤出错的概率。**（“清洗数据”）

In [22]:
str_5 = 'this is a TEST string.'
print('lower():{}'.format(str_5.lower()))
print('upper():{}'.format(str_5.upper()))
print('capitalize():{}'.format(str_5.capitalize()))

lower():this is a test string.
upper():THIS IS A TEST STRING.
capitalize():This is a test string.

## 2.4 日期 date

数据分析中日期经常蕴含着关键信息。你可以用字符串来表示日期，但是用Python中自带的日期处理方式来表达日期是更优的解决方案。**这需要你导入datetime模块，这是Python自带的标准库之一。**

In [29]:
import datetime

In [30]:
today = datetime.date.today()
print(today)

2021-11-04

In [32]:
print("This year: {}".format(today.year))
print("This month: {}".format(today.month))
print("This day: {}".format(today.day))

This year: 2021
This month: 11
This day: 4

使用datetime格式来表达日期的一个最大优点就是**我们可以方便的对日期进行运算**。

这里我们需要使用`timedelta()`, 它支持输入的参数包括`days`,`hours`,`weeks`。

In [35]:
yesterday = today + datetime.timedelta(days=-1)
tomorrow = today + datetime.timedelta(days=1)

print('yesterday: {}'.format(yesterday))
print('tomorrow: {}'.format(tomorrow))

yesterday:2021-11-03
tomorrow:2021-11-05

In [40]:
two_wks_later = today + datetime.timedelta(weeks=2)
print('2 weeks after today: {}'.format(two_wks_later))

2 weeks after today: 2021-11-18

也许“年-月-日”`yyyy-mm-dd`这样的格式并不符合你的要求。你可以通过`strftime`来改变格式。

常用对应关系：
*   `%Y` - 年
*   `%m` - 月
*   `%d` - 日
*   `%d` - 月份 (如:November)
*   `%b` - 月份缩写 (如:Nov)

In [43]:
print(today)
print(today.strftime('%m/%d/%Y'))
print(today.strftime('%b %d %Y'))
print(today.strftime('%B %d, %Y'))

2021-11-04
11/04/2021
Nov 04 2021
November 04, 2021

## 2.5 列表 list [ ]

Python中的列表(list)就是一种有序的数据集合，形如`[1,2,3]`就是一个最简单的列表。它不仅可以包含数值，还可以包含字符串、其他列表、元组和字典（稍后介绍）等。

In [70]:
list_1 = [1, 2, 3, 4, 5, 3, 1]

# 用len()计算列表中元素的数量
# 用max()和min()找出最大值和最小值
# 用count()计算出列表中某个值出现的次数
print('list_1有{}个元素。'.format(len(list_1)))
print('list_1的最大值是{0}，最小值是{1}。'.format(max(list_1),min(list_1)))
print('list_1中，"3"出现了{}次。'.format(list_1.count(3)))

list_1有7个元素。
list_1的最大值是5，最小值是1。
list_1中，"3"出现了2次。

### 2.5.1 索引值 index

你可以像“数数”一样访问列表中的特定元素，既可以正着数，也可以反着数。

注意：与其他许多语言一样，**python中计数的规则是从0开始数。**

In [51]:
list_1

[1, 2, 3, 4, 5, 3, 1]

In [53]:
list_1[0]

1

In [55]:
list_1[1]

2

In [56]:
list_1[-2]

3

### 2.5.2 切片 slicing 

`[start:stop:stride]`

你可以通过切片访问这个列表的某一段。

`start`: 从哪里开始读，默认为第0位

`stop`: 读到哪里为止，默认为第-1位

`stride`: 步长，即每几位读一次，默认为1

In [62]:
list_1

[1, 2, 3, 4, 5, 3, 1]

In [58]:
list_1[0:2]

[1, 2]

In [63]:
list_1[1:] #第1位至最后

[2, 3, 4, 5, 3, 1]

In [65]:
list_1[:-2]

[1, 2, 3, 4, 5]

In [61]:
list_1[::2] #每2个数读一次

[1, 3, 5, 1]

### 2.5.3 复制
当你复制时，你往往是为了完成备份的目的，因此你希望**复制后与复制前的list是独立的。** 但简单赋值复制无法完成这一点，正确做法是**复制目标列表的每一个元素** `list_a_copy = list_a[:]`

In [74]:
list_2 = [1, 2, 3, 4, 5]
list_3 = [1, 2, 3, 4, 5]

In [75]:
list_2_copy = list_2
list_3_copy = list_3[:]

list_2_copy[2] = 3333
list_3_copy[2] = 3333

In [76]:
list_2_copy

[1, 2, 3333, 4, 5]

In [77]:
list_2 #与list_2_copy一起被修改。因为它们本质上指向同一个"抽屉"

[1, 2, 3333, 4, 5]

In [78]:
list_3_copy

[1, 2, 3333, 4, 5]

In [79]:
list_3 #未被修改。创造了"新抽屉"

[1, 2, 3, 4, 5]

### 2.5.4 连接

使用`+`连接不同列表。

In [80]:
list_4 = [1, 2, 3]
list_5 = [4, 5, 6]
list_4 + list_5

[1, 2, 3, 4, 5, 6]

### 2.5.5 查找特定元素

`in`和`not in`可以用来查找列表中是否有某个特定元素，返回`True`或`False`

In [81]:
list_6 = [1,2,3,'a']
if 'a' in list_6:
  print('a is in list_6.')
if 5 not in list_6:
  print('5 is not in list_6.')

a is in list_6.
5 is not in list_6.

### 2.5.6 增加/删除元素

`append()`: 向列表末尾添加新元素

`remove()`: 从列表中删除一个特定元素

`pop()`: 从列表末尾删除一个元素（“弹夹”：后进先出）

In [98]:
list_7 = [1, 2, 3, 4, 5]

In [99]:
list_7.append(6666)
list_7

[1, 2, 3, 4, 5, 6666]

In [100]:
list_7.remove(4)
list_7

[1, 2, 3, 5, 6666]

In [101]:
list_7.pop()
list_7

[1, 2, 3, 5]

###2.5.7 排序
使用`sort()`对列表原地排序（会替换原列表，注意备份）

In [102]:
list_8 = [3, 5, 2, 4, 1]
list_8.sort()
list_8

[1, 2, 3, 4, 5]

## 2.6 元组 Tuple ( )
元组与列表十分相似，形如`(1, 2, 3)`。但有一个主要区别：**元组不能被修改**

In [107]:
tuple_1 = (111,222,333)
tuple_1

(111, 222, 333)

### 2.6.1 解包
即将元组中的元素单独提取出来

In [108]:
var1, var2, var3 = tuple_1
print(var1, var2, var3)

111 222 333

### 2.6.2 转换为列表
元组可以通过直接被转化为列表，反之亦然。

In [109]:
list_tp = list(tuple_1)
list_tp

[111, 222, 333]

In [110]:
tuple_list = tuple(list_tp)
tuple_list

(111, 222, 333)

## 2.7 字典 dicts { }
Python 中的字典本质上是包含各种**带有唯一标识符**的**成对信息**的列表。(“通过翻字典找到对应信息”) ，形如`{key-value}`（键-值）。


*   你可以通过key来查询value，**反之则不行**
*   **字典值则没有排序**，因为索引不仅仅只是数值。**你可以为字典中的项目定义排序操作**，但是字典确实没有内置排序。

In [115]:
dict_1 = {'Zhang San':111111, 'Li Si':222222, 'Wang Wu': 333333}
dict_1['Zhang San']

111111

### 2.7.1 键 keys、值 values、项目 items

In [116]:
dict_1.keys()

dict_keys(['Zhang San', 'Li Si', 'Wang Wu'])

In [117]:
dict_1.values()

dict_values([111111, 222222, 333333])

In [118]:
dict_1.items()

dict_items([('Zhang San', 111111), ('Li Si', 222222), ('Wang Wu', 333333)])

### 2.7.2 复制
使用`copy()`创建副本

In [119]:
dict_1_copy = dict_1.copy()
dict_1_copy

{'Li Si': 222222, 'Wang Wu': 333333, 'Zhang San': 111111}

# 3 控制流 control flow
逻辑控制元素，例如“如果A则B，否则C”

## 3.1 if-else
`if`: 判断是否符合某个条件

`elif`: 判断是否符合某个if以外的条件

`else`: `if`和`elif`以外的所有情况

In [11]:
# if-elif-else语句
def f_if(x):
  if x > 6:
    print(" x大于6")
  elif x > 4 and x <= 6:
    print(" x*x = {}".format(x*x))
  else:
    print(" x不大于4")

In [9]:
f_if(7)

 x大于6

In [13]:
f_if(4.5)

 x*x = 20.25

In [14]:
f_if(3)

 x不大于4

# 3.2 for循环
for循环是python中非常重要的功能，它表示**按照一定的规则在序列中迭代**。

`for i in range(n)`

这代表着一个循环n次的循环，i可以理解为计数器，它会从0递增计数到n-1(共n次)


**python中常见的for循环写法：**

`for variable in sequence`

`variable`在这里只是一个临时占位符，`sequence`代表整个序列。这条语句表示遍历`sequence`中的每个值。

In [25]:
months = ['一月', '二月', '三月', '四月']

In [26]:
#比较python的写法
for month in months:
  print(month)

一月
二月
三月
四月

In [18]:
# 另一种for循环写法
for i in range(len(months)):
  print(months[i])

一月
二月
三月
四月

你可以在for循环中嵌套if判断。

In [29]:
for month in months:
  if month.startswith('二'): #判断是否以"二"开头
    print(month)

二月

这几条语句实现了一个类似搜索的功能（搜索以"二"开头的词条）。但是搜索算法是一门很复杂的学科，**当数据量很大时，这种简单粗暴的算法可能会浪费算力和时间。**因此，当你需要实现**排序、搜索或类似功能**时，**请优先使用或查找已有的库中的函数。**（当好"调包侠"）

for循环还可以十分方便的遍历词典。

In [20]:
dict_2 = {'Zhang San':111111, 'Li Si':222222, 'Wang Wu': 333333}

for key, value in dict_2.items():
  print("{0}:{1}".format(key,value))

Zhang San:111111
Li Si:222222
Wang Wu:333333

列表、集合与字典生成式是 Python 中一种简化的 for 循环写法。你可以运用这种方法快速的创建对应变量。

(尽管这种写法看起来很简单，但它有时并不利于其他人理解。)

### 3.2.1 列表生成式

In [31]:
data_1 = [[1,2,3], [4,5,6], [7,8,9]]
rows_to_keep = [row for row in data_1 if row[2] > 5] #保留第2位大于5的list
rows_to_keep

[[4, 5, 6], [7, 8, 9]]

### 3.2.2 集合生成式

In [32]:
data_2 = [1,2,2,3,3,3]
set_tp = {x for x in data_2} #转换为set时，重复的元素会被舍弃
set_tp

{1, 2, 3}

### 3.2.3 字典生成式

In [34]:
data_3 = {'customer1':7,'customer2':9,'customer3':11}
dict_3 = {key : value for key, value in data_3.items() if value > 10} #保留value>10的items
dict_3

{'customer3': 11}

## 3.3 while循环
当满足（或不满足）某个条件时就一直执行循环。

while循环并不如for循环常用。大多数时候，你需要遍历一整列数据，这种情景更适用于for循环。

In [35]:
x = 0
while x < 5:
  print(x)
  x += 1

0
1
2
3
4

## 3.4 函数
python中有两种典型的使用函数的场景：

1. 调用标准库或第三方库中的函数。例如`print()`, `datetime.timedelta()`

2. 为了避免不断重复出现的代码，你自己编写函数。**Clean code!**

In [38]:
# Dirty code
x = 1
if x > 5:
  print("x > 5")
else:
  print("x <= 5")

x = 7
if x > 5:
  print("x > 5")
else:
  print("x <= 5")

x <= 5
x > 5

In [39]:
# Clean code
def func(x):
  if x > 5:
    print("x > 5")
  else:
    print("x <= 5")
  
x = 5
y = 7
func(5)
func(7)

x <= 5
x > 5

函数的定义很简单。

`def(var1,var2,...)`

**你可以打出`def`声明你要创建一个函数，然后给出若干个需要输入的变量`var1`,`var2`,...。接下来你要定义这个函数进行哪些运算，最后你要定义一个返回值`return`（`return`可以为空）**

需要输入的参数可以被赋予默认初始值。例如你可以声明`def func(var1,var2,var3=0)`。用户调用这个函数时，可以给出2个变量，也可以给出3个变量，这都是合法的，区别在于是否给var3赋新的值。

In [47]:
# 一个简单的求平方函数

def getSq(x, ifPrint=False):
  if ifPrint == True:
    return 'x^2 = {}'.format(x*x)
  else:
    return x*x

In [48]:
getSq(4)

16

In [50]:
getSq(5,ifPrint=True)

'x^2 = 25'